<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles.css" />
    <title>News</title>
  </head>
  <body>
    <section class="showcase">
      <header>
        <a class="aclass" href="../index.html"><h2 class="logo">Travel</h2></a>
        <div class="toggle"></div>
      </header>
      <video src="../assests/bg-video.mp4" muted loop autoplay></video>
      <div class="overlay"></div>
      <div class="text">
        <h2>News</h2>
        <p>
          Travelling is an amazing way to learn a lot of things in life. A lot
          of people around the world travel every year to many places. Moreover,
          it is important to travel to humans. Some travel to learn more while
          some travel to take a break from their life.
        </p>
        <a href="#">Explore</a>
      </div>
      <ul class="social">
        <li>
          <a href="https://www.facebook.com/" target="_blank"
            ><img src="../assests/facebook.png"
          /></a>
        </li>
        <li>
          <a href="https://www.instagram.com/" target="_blank"
            ><img src="../assests/instagram.png"
          /></a>
        </li>
        <li>
          <a href="https://www.twitter.com/" target="_blank"
            ><img src="../assests/twitter.png"
          /></a>
        </li>
      </ul>
    </section>
    <div class="menu">
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="./news.html">News</a></li>
        <li><a href="./destination.html">Destination</a></li>
        <li><a href="./blog.html">Blog</a></li>
        <li><a href="./contact.html">Contact</a></li>
      </ul>
    </div>
    <script src="../index.js"></script>
  </body>
</html>
